extends ../index

block content
    div.row
        div.col-xs-12.col-sm-6.col-lg-4
            div.box
                div.icon
                    div.image
                        img(alt="JavaScript", src="/img/html5.png", style="height: 50px; margin-top: -20px;")
                    div.info
                        h3.title HTML/CSS
                        p HTML - язык гипертектстовой разметки — это язык, используемый для описания и определения содержания веб-страницы. CSS - каскадные таблицы стилей используются для описания внешнего вида веб-страницы.
                        div.more
                            a(href='/tags/HTML%20&%20CSS', title='Title Link')
                                | Начать изучение
                                i.fa.fa-angle-double-right
                div.space
        div.col-xs-12.col-sm-6.col-lg-4
            div.box
                div.icon
                    div.image
                        img(alt="JavaScript", src="/img/js.png", style="height: 50px; margin-top: -20px;")
                    div.info
                        h3.title JavaScript
                        p JavaScript — это интерпретируемый, объектно-ориентированный, кросс-платформенный язык. Он более известен как язык скриптов для веб-страниц, но используется и в других программных продуктах, например node.js.
                        div.more
                            a(href='/tags/JavaScript', title='Title Link')
                                | Начать изучение
                                i.fa.fa-angle-double-right
                div.space
        div.col-xs-12.col-sm-6.col-lg-4
            div.box
                div.icon
                    div.image
                        img(alt="JavaScript", src="/img/html5.png", style="height: 50px; margin-top: -20px;")
                    div.info
                        h3.title PHP
                        p PHP - Hypertext Preprocessor —  первоначально Personal Home Page Tools  — скриптовый язык программирования общего назначения, интенсивно применяемый для разработки веб-приложений.
                        div.more
                            a(href='/tags/php', title='Title Link')
                                | Начать изучение
                                i.fa.fa-angle-double-right
                div.space