extends ../index

block content
    div.row
        div.col-md-4
            div.thumbnail
                div.caption
                    h3 HTML & CSS
                    p HTML - язык гипертектстовой разметки — это язык, используемый для описания и определения содержания веб-страницы. CSS - каскадные таблицы стилей используются для описания внешнего вида веб-страницы.
                    p
                        a(href="/tags/HTML%20&%20CSS", role="button").btn.btn-primary Начать изучение
        div.col-md-4
            div.thumbnail
                div.caption
                    h3 JavaScript
                    p JavaScript — это интерпретируемый, объектно-ориентированный, кросс-платформенный язык. Он более известен как язык скриптов для веб-страниц, но используется и в других программных продуктах, например node.js.
                    p
                        a(href="/tags/JavaScript", role="button").btn.btn-primary Начать изучение
        div.col-md-4
            div.thumbnail
                div.caption
                    h3 PHP
                    p PHP - Hypertext Preprocessor —  первоначально Personal Home Page Tools  — скриптовый язык программирования общего назначения, интенсивно применяемый для разработки веб-приложений.
                    p
                        a(href="/tags/php", role="button").btn.btn-primary Начать изучение