header.navbar.navbar-default.navbar-fixed-top(role='header')
    - if (req.isAuthenticated())
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') wBook
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li: a(href="/articles/new")
                        i.glyphicon.glyphicon-edit
                        | &nbsp; Новая статья
                    li: a(href="/sections/new")
                        i.glyphicon.glyphicon-book
                        | &nbsp; Новый раздел
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            i.glyphicon.glyphicon-th
                        ul.dropdown-menu
                            li: a(href="/users/" + req.user.id): i.glyphicon.glyphicon-user &nbsp; Профиль
                            li.divider
                            li: a(href="/logout"): i.glyphicon.glyphicon-off &nbsp; Выйти

    - else
        .container
            .navbar-header
                button(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1').navbar-toggle
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') wBook
            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                nav.navbar-collapse(role='navigation')
                    ul.nav.navbar-nav.pull-right
                        li: a(href='/signup') Зарегистрироваться
                        li: a(href='/login') Войти