extends ../index

block content
    .container-fluid
        aside.right-side
            - if (articles.length)
            - each article in articles
                div.list-group
                    a(href='/articles/'+article._id, title=article.title).list-group-item
                        h4.list-group-item-heading #{article.title}
                        p.list-group-item-text= article.description
            - else
                .callout.callout-warning
                    h4  Извините, но публикаций нет
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.