extends ../index

block content
  .container-fluid
      .row
        .col-md-12
          p!=article.body
          blockquote.blockquote-reverse
            - if (article.user)
                date.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")
            - if (article.tags)
              p Теги:&nbsp;
                - each tag in article.tags.split(',')
                  i.muted.fa.fa-tag &nbsp;
                  a.tag(href="/tags/"+tag)= tag
                  | &nbsp;&nbsp;
              form(action="/articles/"+article.id, method="post", onsubmit="return confirm('Вы уверен?')")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                a.btn.btn-default(href='/articles/'+article._id+'/edit', title="edit") Редактировать
                | &nbsp;
                input(type="hidden", name="_method", value="DELETE")
                button.btn.btn-danger(type="submit") Удалить