extends auth

block form
      .well.form-signin
          div.panel.panel-default
            div.panel-body
                h3.thin.text-center Авторизация
                p.text-center.text-muted Мы рады видеть Вас! Пожалуйста авторизируйтесь в системе. Если Вы впервые на нашем проекте, то вы должны пройти процесс <a href="/signup">регистрации</a>.
                hr

                form(action="/users/session", method="post", role="form")
                    div.form-group
                        label Email <span class="text-danger">*</span>
                        div(data-validate="email").input-group
                            input#validate-email.form-control(type="email", placeholder="Email", name="email", required)
                            span.input-group-addon.danger: span.glyphicon.glyphicon-remove
                    div.form-group
                        label Пароль <span class="text-danger">*</span>
                        div.input-group
                            input#password-validate.form-control(type="password", placeholder="Пароль", name="password", required)
                            span.input-group-addon.danger: span.glyphicon.glyphicon-remove
                    hr
                    div.row
                        //div.col-lg-8
                        //    b: a(href="#") Забыли пароль?
                        div.col-lg-12.text-right
                            button(type="submit", disabled).btn.btn-action Войти
                            input(type='hidden', name='_csrf', value="#{csrf_token}")
                            .col-sm-offset-2.error= message