extends ../index

block content
    - if (sections.length)
        - each section in sections
            div.col-xs-12.col-sm-6.col-lg-4
                div.box
                    div.icon
                        div.image
                            - if (!section.icon)
                                i.fa.fa-html5
                            - else
                                img(alt="section.title", src=section.icon, style="height: 40px; margin-top: -15px;")
                        div.info
                            h3.title= section.title
                            p= section.description
                            div.more
                                a(href='/section/' + section.title, title=section.title)
                                    | Начать изучение
                                    i.fa.fa-angle-double-right
                    div.space
    - else
        h4  Извините, но ни одного раздела нет
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
