extends layouts/default

block main
    div.container
        div.row
            div.col-md-12
                div.error-template
                    h1
                        | Ошибка 500
                    h2
                    div.error-details!= error
                    div.error-actions
                        a.btn.btn-primary.btn-lg(href='/')
                            span.glyphicon.glyphicon-home  Вернуться обратно

block content
  pre= error
