extends layouts/default

block main
  - if (req.isAuthenticated())
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                .user-sidebar
                    - var avatar = req.user.avatar ? req.user.avatar : "/img/no-avatar.jpg"
                    a(href="/users/" + req.user.id): img(src="#{avatar}", alt="avatar", width="100").img-circle.img-avatar
                    h4= req.user.firstname + ' ' + req.user.lastname
                    div= req.user.role + ', ' + req.user.group
                hr
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                include includes/messages
                h1.page-header: i.glyphicon.glyphicon-book </i> #{title}
                block content

  - else
      div.jumbotron
          .container
              h1 wBook
              p
                  | Изучайте HTML, CSS, JavaScript, PHP
                  br
                  | и научитесь создавать потрясающие
                  br
                  | веб-приложений.
              a(href='/signup', role='button').btn.btn-primary.btn-lg Начать изучение »
      aside
          .container
              .row
                  .col-md-4
                      h3 HTML/CSS
                      p HTML - язык гипертектстовой разметки — это язык, используемый для описания и определения содержания веб-страницы. CSS - каскадные таблицы стилей используются для описания внешнего вида веб-страницы.
                  .col-md-4
                      h3 JavaScript
                      p JavaScript — это интерпретируемый, объектно-ориентированный, кросс-платформенный язык. Он более известен как язык скриптов для веб-страниц, но используется и в других программных продуктах, например node.js.
                  .col-md-4
                      h3 PHP
                      p PHP - Hypertext Preprocessor — первоначально Personal Home Page Tools — скриптовый язык программирования общего назначения, интенсивно применяемый для разработки веб-приложений.