extends layouts/default

block main
  - if (req.isAuthenticated())
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                .user-sidebar
                    //- var name = user.name ? user.name : user.username
                    img(src="/img/avatar.jpg", alt="avatar", width="100").img-circle.img-avatar
                    h4 Алексей Белоус
                    div Студент, T-095
                hr
                ul.nav.nav-sidebar
                    li: a(href="/articles") Курсы
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header= title
                block content

  - else
      div.jumbotron
          .container
              h1 wBook
              p
                  | Изучайте HTML, CSS, JavaScript, PHP
                  br
                  | и научитесь создавать потрясающие
                  br
                  | веб-приложений.
              a(href='/signup', role='button').btn.btn-primary.btn-lg Начать изучение »
      aside
          .container
              .row
                  .col-md-4
                      h3 HTML/CSS
                      p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          | Etiam luctus nisl vel vehicula posuere.
                          | In tincidunt dolor ante, non tempus urna imperdiet non.
                  .col-md-4
                      h3 JavaScript
                      p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          | Etiam luctus nisl vel vehicula posuere.
                          | In tincidunt dolor ante, non tempus urna imperdiet non.
                  .col-md-4
                      h3 PHP
                      p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          | Etiam luctus nisl vel vehicula posuere.
                          | In tincidunt dolor ante, non tempus urna imperdiet non.