doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title + ' - ' + pkg.name

        link(href="/css/bootstrap.css", rel="stylesheet", type="text/css")
        link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.css", rel="stylesheet", type="text/css")
        link(href="/css/main.css", rel="stylesheet", type="text/css")
    body
        include ../includes/header
        - if (req.isAuthenticated() === false)
            include ../includes/messages
        block main
        block component
        include ../includes/footer
        include ../includes/foot
